<form validate class="pure-form" ng-submit="create(link)">
    <fieldset>
        <legend>Insert new link information:</legend>

        <input type="text" placeholder="Resource path" ng-model="link.resourcePath">
        <input type="url" placeholder="Redirection path" ng-model="link.redirectionPath" required>

        <!-- <button type="submit" class="pure-button pure-button -primary" ng-click="create(link)"> -->
        <button type="submit" class="pure-button pure-button-primary">
            Create link
        </button>

    </fieldset>
</form>