<html>

<head>

  <link rel="stylesheet" href="/lib/thirdparty/bootstrap-3.2.0-dist/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/lib/thirdparty/bootstrap-3.2.0-dist/css/bootstrap-theme.css"></link>
  <script src="/lib/thirdparty/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <script src="/lib/thirdparty/angularjs1.2.25/angular.js"></script>
  <script src="/lib/thirdparty/angularjs1.2.25/angular-resource.js"></script>
  <script src="/app/main/app.js"></script>
  <script src="/app/links-display/links-display-ctrl.js"></script>
  <style>
    a {
      color: inherit;
    }
  </style>
</head>

<body ng-app="autoKnowApp">
  <ol ng-controller="LinkDisplayCtrl">
    <li ng-repeat="link in links">
      <div class="row">

        <div class="col-md-6">
          <span class="label label-primary">Resource Path:<a ng-href="//localhost:8080/{{link.resourcePath}}">{{link.resourcePath}}</a></span>
          <span class="label label-primary">Creation Time:{{link.creationTime}}</span>
          <span class="label label-primary">Enabled:{{link.enabledFlag}}</span>
          <span class="label label-primary">Expiration Time:{{link.expirationTime}}</span>
        </div>

        <div class="col-md-6">
          <ul>
            <li ng-repeat="pageView in link.pageViews">
              <span class="label label-danger">Page View:</span>
              <span class="label label-primary">{{pageView.creationTime}}</span>
              <span class="label label-primary">{{pageView.ipAddress}}</span>
            </li>
          </ul>
        </div>

      </div>
    </li>
  </ol>
</body>

</html>
