<div id="urlLinks">
    <input ng-model="searchLinks" placeholder="Search" />
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <th>Resource Path</th>
            <th>Redirect To</th>
            <th>Creation Time</th>
            <th>Enabled</th>
            <th>Expiration Date</th>
            <th>PageViews</th>
        </thead>
        <tbody class="list">
            <tr ng-repeat="link in links | filter:searchLinks">
                <td class="resource-path"><a ng-href="//localhost:8080/{{link.resourcePath}}">{{link.resourcePath}}</a>
                </td>
                <td class="redirection-path"><a ng-href="{{link.redirectionPath}}">{{link.redirectionPath}}</a>
                </td>
                <td class="creation-time">{{link.creationTime}}</td>
                <td class="enabled">{{link.enabledFlag}}</td>
                <td class="expiration-time">{{link.expirationTime}}</td>
                <td>
                    <table>
                        <thead>
                            <th>Time</th>
                            <th>IP</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pageView in link.pageViews">
                                <td>{{pageView.creationTime}}</td>
                                <td>{{pageView.ipAddress}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>